<mat-toolbar color="#ccc">
<button mat-raised-button class="logout-button" style="background-color: #0a858d; color: white" (click)="logout()">Salir</button>
</mat-toolbar>
<div style="display: flex; justify-content: space-between; align-items: start; padding-top: 2rem">

  <mat-card style="flex: 1; margin-left: 10px; margin-right: 10px; min-height: 13vw;">
    <mat-card-header>
      <mat-card-title>Buscar certificado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Código o persona</mat-label>
        <input matInput [(ngModel)]="codigo" color="black">
      </mat-form-field>
      <button mat-raised-button style="background-color: #0a858d; color: white" (click)="buscar()">Buscar</button>
    </mat-card-content>
  </mat-card>

  <mat-card style="flex: 1; margin-right: 10px; min-height: 13vw;">
    <mat-card-header>
      <mat-card-title>Subir Certificado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="file" (change)="cargarCSV($event)" accept=".csv">
      <button mat-raised-button style="background-color: #0a858d; color: white" (click)="subirArchivo()">Subir CSV</button>
    </mat-card-content>
  </mat-card>

</div>
<br>
<mat-card>
  <mat-table [dataSource]="certificadosFiltrados">
    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
      <mat-cell *matCellDef="let elemento"> {{elemento.codigo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let elemento"> {{elemento.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let elemento"> {{elemento.fecha}} </mat-cell>
    </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let elemento"> {{elemento.email}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

</mat-table>
